<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.digi_yatra_12">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Digi_Yatra_12">
        <activity
            android:name=".fragments.Add_data_url"
            android:exported="false" />
        <activity
            android:name=".fragments.Pop_acknowledgement"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.CustomTheme" />
        <activity
            android:name=".fragments.Pop_issuer"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.CustomTheme" />
        <activity
            android:name=".fragments.Credential_Choose"
            android:exported="false" />
        <activity
            android:name=".fragments.pop_crediential"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.CustomTheme" />
        <activity
            android:name=".Pop_sucess_register"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.CustomTheme" />
        <activity
            android:name=".navbar.Navbar_main"
            android:exported="false" />
        <activity
            android:name=".signup.Otp_page"
            android:exported="false" />
        <activity
            android:name=".signup.Signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>